# Development #
###############
.*
lib/*
bin/*
*.pyc
include

# Test & Runtime #
##################
docbook-xsl-*
result*.pdf
*.epub
tempdir
css/ccap-numbering.css
test-ccap-*
test-ccap/*/_autogen*
test-ccap/*/index.standalone.dbk
test-ccap/cover.png
test-ccap/collection.dbk
